.footer {
  padding: 7.2rem 3.6rem;
  background-color: var(--color-black);

  &,
  .link,
  .contact,
  .pagesTitle,
  .pagesUl > li > a,
  .footerText {
    color: #fff;
    font-family: "roboto";
  }

  .logo {
    margin-bottom: 2.4rem;
  }

  .iconContainer {
    margin-bottom: 3.6rem;
  }

  .link {
    transition: all 300ms;
    font-size: 2.4rem;
    display: inline-block;

    &:not(:first-child) {
      margin-left: 1.2rem;
    }

    &:visited,
    &:link {
      color: inherit;
    }

    &:hover,
    &:active {
      color: #d68100;
    }
  }

  .contact {
    transition: all 300ms;
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    display: block;

    &:hover,
    &:active {
      color: #d68100;
    }

    &:last-of-type {
      margin-bottom: 3.6rem;
    }
  }

  .pagesTitle {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  .pagesUl {
    margin-left: 2.4rem;

    & > li {
      margin-bottom: 1.2rem;

      & > a {
        transition: all 300ms;
        font-size: 1.6rem;

        &:visited,
        &:link {
          color: #fff;
        }

        &:hover,
        &:link {
          color: #d68100;
        }
      }

      &:last-child {
        margin-bottom: 3.6rem;
      }
    }
  }

  .footerText {
    font-size: 1.6rem;
  }
}

@media (min-width: 600px) {
  .footer {
    padding: 7.2rem 4.8rem;
  }
}

@media (min-width: 900px) {
  .footer {
    padding: 7.2rem 7.2rem;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 7.2rem 9.6rem;
  }
}
