.footer {
  height: 50vh;
  background-color: $color-black-light;

  &__all-container {
    height: 100%;
    position: relative;
  }

  &__bottom-box {
    position: absolute;
    bottom: 0;
  }

  &__contact-row {
    position: relative;
  }

  &__copyright {
    font-size: $paragraph-font-size;
    color: $color-white;
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: normal;
  }

  &__margin-box {
    margin-top: 2.4rem;
  }

  &__logo-row {
    padding: 2.4rem 0 4.8rem;
    border-top: 1px solid $color-lightgrey-dark;
  }

  &__btn-container {
    float: right;
  }
}
