//A centered 1140px wide box
.row {
  width: $grid-width;
  margin: 0 auto;

  @include clearfix;
}

//These columns take the gutter into considiration
.col {
  float: left;

  &:not(:last-child) {
    margin-right: $gutter-horizontal;
    margin-bottom: $gutter-vertical;
  }

  &--1-of-2 {
    width: $grid-col-1-of-2-width;
  }

  &--1-of-3 {
    width: $grid-col-1-of-3-width;
  }

  &--2-of-3 {
    width: $grid-col-2-of-3-width;
  }
}
