.nav {
  background-color: $color-lightgrey-light;

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:first-child:hover .logo-full--color {
      fill: $color-primary-lighter;
    }

    &:not(:first-child) {
      border-bottom: 3px solid $color-lightgrey-light;
      padding: $nav-btn-padding;
      float: right;
    }

    &--selected {
      background-color: $color-lightgrey-dark;
      color: $color-grey;
      border-bottom: 3px solid $color-lightgrey-dark;
    }

    &:not(:first-child):not(&--selected):hover {
      cursor: pointer;
      background-color: $color-lightgrey-dark;
      border-bottom: 3px solid $color-secondary;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-grey;
  }
}
