.slide-card {
  height: $slide-card-height;

  &__face {
    height: calc(#{$slide-card-height}/ 2);
    position: relative;
    transition: all 0.5s;

    &--header {
      transform: translateY($slide-card-height/4);
      z-index: 2;

      background-color: $color-primary;
    }

    &--content {
      padding: 2rem;
      z-index: 1;
      box-shadow: $shadow-big $shadow-opacity-high;
      transform: translateY(-$slide-card-height/4);

      background-color: $color-white;
    }
  }

  &:hover &__face {
    &--header,
    &--content {
      transform: translate(0);
    }
  }

  &__center-box {
    display: inline-block;
    width: 100%;

    @include center;
  }

  &__icon {
    display: block;
    margin: 0 auto 0.7rem;
    width: $slide-card-icon-width;
  }

  &__header {
    width: 100%;
    text-align: center;
    cursor: default;
  }

  &__icon,
  &__header {
    fill: $color-secondary;
    color: $color-secondary;
  }

  &:hover &__icon,
  &:hover &__header {
    fill: $color-white;
    color: $color-white;
  }

  &__link {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.3rem;

    &:visited,
    &:link {
      text-decoration: none;
      transition: all 0.2s;
    }

    &:hover {
      transform: $btn-hover-translate;
      box-shadow: $shadow-medium $shadow-opacity-high;

      color: $color-white !important;
    }

    &:active {
      transform: $btn-active-translate;
      box-shadow: $shadow-small $shadow-opacity-high;
    }
  }

  &--1 {
    @include slide-card-style($color-purple-dark);
  }

  &--2 {
    @include slide-card-style($color-orange-dark);
  }

  &--3 {
    @include slide-card-style($color-primary);
  }
}

//project cards
.card {
  //layout and animation
  height: $project-card-height;
  position: relative;
  -moz-perspective: 150rem;
  perspective: 150rem;

  &__side {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $project-card-border-radius;
    box-shadow: $shadow-big $shadow-opacity-low;
    overflow: hidden;
    backface-visibility: hidden;
    transition: all 0.8s ease-out;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  //Front-side
  &__picture {
    background-size: cover;
    background-position: center;
    height: 23rem;
    border-top-left-radius: $project-card-border-radius;
    border-top-right-radius: $project-card-border-radius;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  &__header {
    width: 75%;
    position: absolute;
    top: 18.5rem;
    right: 1rem;
    color: $color-white;
    font-size: $second-header-font-size;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
  }

  &__header-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  &__details {
    text-align: center;
    width: 80%;
    margin: 8rem auto;
  }

  //Back side
  &__center-box {
    width: 100%;

    @include center;
  }

  &__btn-container {
    width: 83%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  &--DB {
    &-1 {
      @include project-card(
        $color-orange-light,
        $color-orange-dark,
        $first-card-picture,
        $first-card-title,
        $first-card-details
      );
    }

    &-2 {
      @include project-card(
        $color-purple-light,
        $color-purple-dark,
        $second-card-picture,
        $second-card-title,
        $second-card-details
      );
    }

    &-3 {
      @include project-card(
        $color-secondary,
        $color-primary,
        $third-card-picture,
        $third-card-title,
        $third-card-details
      );
    }
  }
}

/*
add ".disabled" next to ".card" to disable project card
.disabled--development adds in development image
.disabled--upcoming adds empty image and changes header to "Coming Up!"
*/
.disabled {
  & .btn {
    &:visited,
    &:link,
    &:hover,
    &:active {
      transform: translateY(0);
      background-color: transparent;
      box-shadow: 0 0 0;
      color: $color-white;
      cursor: default;
    }
  }

  & .card__side--front,
  & .card__side--back {
    opacity: 0.8;
  }

  & .card__side--back {
    background-image: $disabled-back-side;
  }

  & .card__header-span {
    background-image: $disabled-header-span;
  }

  &--development .card__picture {
    background-image: $image-in-development;
  }

  &--upcoming {
    & .card__picture {
      background-image: $image-coming-up;
    }

    & .card__header-span::after {
      content: "Coming Up!";
    }

    & .card__project-title {
      display: none;
    }
  }
}
