.slide-card {
  height: $slide-card-height;

  &__face {
    height: calc(#{$slide-card-height}/ 2);
    position: relative;
    transition: all 0.5s;

    &--header {
      transform: translateY($slide-card-height/4);
      z-index: 2;

      background-color: $color-primary;
    }

    &--content {
      padding: 2rem;
      z-index: 1;
      box-shadow: $shadow-big $shadow-opacity-high;
      transform: translateY(-$slide-card-height/4);

      background-color: $color-white;
    }
  }

  &__center-box {
    display: inline-block;
    width: 100%;

    @include center;
  }

  &__icon {
    display: block;
    margin: 0 auto 0.7rem;
    width: $slide-card-icon-width;
  }

  &__header {
    width: 100%;
    text-align: center;
    cursor: default;
  }

  &__icon,
  &__header {
    fill: $color-secondary;
    color: $color-secondary;
  }

  &__link {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.3rem;

    &:visited,
    &:link {
      text-decoration: none;
      transition: all 0.2s;
    }

    &:hover {
      transform: $btn-hover-translate;
      box-shadow: $shadow-medium $shadow-opacity-high;

      color: $color-white !important;
    }

    &:active {
      transform: $btn-active-translate;
      box-shadow: $shadow-small $shadow-opacity-high;
    }
  }

  //first card styles
  &--1:hover &__icon,
  &--1:hover &__header {
    fill: $color-white;
    color: $color-white;
  }

  &--1:hover &__face {
    &--header {
      background-color: $color-purple-dark;
      transform: translateY(0);
    }
    &--content {
      transform: translateY(0);
    }
  }

  &--1 &__link {
    &:visited,
    &:link {
      color: $color-purple-dark;
      border-bottom: 1px solid $color-purple-dark;
    }

    &:hover {
      background-color: $color-purple-dark;
    }
  }

  //second card styles
  &--2:hover &__icon,
  &--2:hover &__header {
    fill: $color-white;
    color: $color-white;
  }

  &--2:hover &__face {
    &--header {
      background-color: $color-orange-dark;
      transform: translateY(0);
    }
    &--content {
      transform: translateY(0);
    }
  }

  &--2 &__link {
    &:visited,
    &:link {
      color: $color-orange-dark;
      border-bottom: 1px solid $color-orange-dark;
    }

    &:hover {
      background-color: $color-orange-dark;
    }
  }

  //third card styles
  &--3:hover &__icon,
  &--3:hover &__header {
    fill: $color-white;
    color: $color-white;
  }

  &--3:hover &__face {
    &--header {
      background-color: $color-primary;
      transform: translateY(0);
    }
    &--content {
      transform: translateY(0);
    }
  }

  &--3 &__link {
    &:visited,
    &:link {
      color: $color-primary;
      border-bottom: 1px solid $color-primary;
    }

    &:hover {
      background-color: $color-primary;
    }
  }
}

//project cards
.card {
  //layout and animation
  height: $project-card-height;
  position: relative;
  -moz-perspective: 150rem;
  perspective: 150rem;

  &__side {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $project-card-border-radius;
    box-shadow: $shadow-big $shadow-opacity-low;
    overflow: hidden;
    backface-visibility: hidden;
    transition: all 0.8s ease-out;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $first-card-color-dark,
          $first-card-color-light
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $second-card-color-dark,
          $second-card-color-light
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $third-card-color-dark,
          $third-card-color-light
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  //Front-side
  &__picture {
    background-size: cover;
    background-position: center;
    height: 23rem;
    border-top-left-radius: $project-card-border-radius;
    border-top-right-radius: $project-card-border-radius;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &-1 {
      background-image: $first-card-picture;
    }

    &-2 {
      background-image: $second-card-picture;
    }

    &-3 {
      background-image: $third-card-picture;
    }
  }

  &__header {
    width: 75%;
    position: absolute;
    top: 18.5rem;
    right: 1rem;
    color: $color-white;
    font-size: $second-header-font-size;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
  }

  &__header-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &-1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($first-card-color-light, 0.85),
        rgba($first-card-color-dark, 0.85)
      );
    }

    &-2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($second-card-color-light, 0.85),
        rgba($second-card-color-dark, 0.85)
      );
    }

    &-3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($third-card-color-light, 0.85),
        rgba($third-card-color-dark, 0.85)
      );
    }
  }

  &__details {
    text-align: center;
    width: 80%;
    margin: 5.5rem auto;
  }

  //Back side
  &__center-box {
    width: 100%;

    @include center;
  }

  &__btn-container {
    width: 83%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
  //TODO create disable class
  &--disabled &__side--front,
  &--disabled &__side--back {
    opacity: 0.8;
  }
}
