.icon-link {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $icon-link-gutter-horizontal;
  }

  &__icon {
    width: 3rem;
    height: 3rem;

    &--primary {
      fill: $color-secondary;
    }

    &--white {
      fill: $color-white;
    }
  }

  &:hover &__icon {
    transform: $btn-hover-translate;
    box-shadow: $shadow-medium $shadow-opacity-high;

    &--primary {
      fill: $color-white;
    }

    &--white {
      fill: $color-secondary;
    }
  }

  &:active &__icon {
    transform: $btn-active-translate;
    box-shadow: $shadow-small $shadow-opacity-high;
  }
}
