.logo-full {
  width: $logo-size;

  &__text {
    font-family: Lato-Bold, Lato;
    font-weight: 700;
  }

  &__header {
    font-size: 250px;
  }

  &__sub-header {
    font-size: 80px;
  }

  &--color {
    fill: $color-secondary;
  }
}
