//TODO fix &__icon
.logo-full {
  width: $logo-size-big;

  &__text {
    font-family: Lato-Bold, Lato;
    font-weight: 700;

    &--not-link {
      cursor: default;
    }
  }

  &__header {
    font-size: 250px;
  }

  &__sub-header {
    font-size: 80px;
  }

  &__color {
    fill: $color-secondary;
  }
}
