.arrow {
  font-size: 3.6rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #eee;
  box-shadow: var(--box-shadow);
  transition: all 300ms;
  cursor: pointer;

  &:hover {
    box-shadow: var(--box-shadow-hover);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: var(--box-shadow-active);
    transform: translateY(-1px);
  }
}
