.margin-right-medium {
  margin-right: 2.4rem;
}

.margin-top-small {
  margin-top: 1.2rem;
}

.margin-top-medium {
  margin-top: 2.4rem;
}

.margin-top-large {
  margin-top: 4.8rem;
}

.margin-top-xlarge {
  margin-top: 7.2rem;
}

.margin-bottom-small {
  margin-bottom: 1.2rem;
}

.margin-bottom-medium {
  margin-bottom: 2.4rem;
}

.margin-bottom-large {
  margin-bottom: 4.8rem;
}

.margin-bottom-xlarge {
  margin-bottom: 7.2rem;
}

.margin-right-grid {
  margin-right: 6rem;
}

.margin-top-grid {
  margin-top: 10rem;
}

.margin-bottom-grid {
  margin-bottom: 10rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: black;
}

.mark {
  color: #3dadff;
}

.first-header {
  color: #3dadff;
  font-size: 3.5rem;
  text-align: center;
}

.first-header--left {
  text-align: left;
}

.paragraph--grid-width {
  max-width: 114rem;
  margin-left: auto;
  margin-right: auto;
}

.paragraph--primary {
  color: #3dadff;
}

.paragraph--centered {
  text-align: center;
}

.logo-full {
  width: 16.3rem;
}

.logo-full__text {
  font-family: Lato-Bold, Lato;
  font-weight: 700;
}

.logo-full__text--not-link {
  cursor: default;
}

.logo-full__header {
  font-size: 250px;
}

.logo-full__sub-header {
  font-size: 80px;
}

.logo-full__color {
  fill: #3dadff;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2.8rem;
  padding: 1rem 4rem;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

.btn--primary {
  background-color: #3dadff;
  color: #fff;
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn--primary:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
}

.btn--primary:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
}

.btn--border {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn--border.secondary {
  border: 1px solid #fff;
  color: #fff;
}

.btn--border.primary {
  border: 1px solid #3dadff;
  color: #3dadff;
}

.btn--border:hover {
  background-color: #fff;
  color: #3dadff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
}

.btn--border:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
}

.btn--small {
  font-size: 1.6rem !important;
}

.slide-card {
  height: 40rem;
}

.slide-card__face {
  height: calc(40rem/ 2);
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slide-card__face--header {
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
  z-index: 2;
  background-color: #000e44;
}

.slide-card__face--content {
  padding: 2rem;
  z-index: 1;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
  background-color: #fff;
}

.slide-card:hover .slide-card__face--header, .slide-card:hover .slide-card__face--content {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.slide-card__center-box {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slide-card__icon {
  display: block;
  margin: 0 auto 0.7rem;
  width: 35%;
}

.slide-card__header {
  width: 100%;
  text-align: center;
  cursor: default;
}

.slide-card__icon, .slide-card__header {
  fill: #3dadff;
  color: #3dadff;
}

.slide-card:hover .slide-card__icon,
.slide-card:hover .slide-card__header {
  fill: #fff;
  color: #fff;
}

.slide-card__link {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.3rem;
}

.slide-card__link:visited, .slide-card__link:link {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.slide-card__link:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
  color: #fff !important;
}

.slide-card__link:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
}

.slide-card--1:hover .slide-card__face--header {
  background-color: #4f1566;
}

.slide-card--1 .slide-card__link:visited, .slide-card--1 .slide-card__link:link {
  color: #4f1566;
  border-bottom: 1px solid #4f1566;
}

.slide-card--1 .slide-card__link:hover {
  background-color: #4f1566;
}

.slide-card--2:hover .slide-card__face--header {
  background-color: #ff7730;
}

.slide-card--2 .slide-card__link:visited, .slide-card--2 .slide-card__link:link {
  color: #ff7730;
  border-bottom: 1px solid #ff7730;
}

.slide-card--2 .slide-card__link:hover {
  background-color: #ff7730;
}

.slide-card--3:hover .slide-card__face--header {
  background-color: #000e44;
}

.slide-card--3 .slide-card__link:visited, .slide-card--3 .slide-card__link:link {
  color: #000e44;
  border-bottom: 1px solid #000e44;
}

.slide-card--3 .slide-card__link:hover {
  background-color: #000e44;
}

.card {
  height: 50rem;
  position: relative;
  -webkit-perspective: 150rem;
          perspective: 150rem;
}

.card__side {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card__picture {
  background-size: cover;
  background-position: center;
  height: 23rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__header {
  width: 75%;
  position: absolute;
  top: 18.5rem;
  right: 1rem;
  color: #fff;
  font-size: 2.8rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
}

.card__header-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__details {
  text-align: center;
  width: 80%;
  margin: 8rem auto;
}

.card__center-box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__btn-container {
  width: 83%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.card--DB-1 .card__side--back, .card--DB-1 .card__header-span {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card--DB-1 .card__picture {
  background-image: url(../../images/Race-2x.png);
}

.card--DB-1 .card__project-title::after {
  content: "Race";
}

.card--DB-1 .card__details::after {
  content: "This is my very first website. It looks terrible. I've added it amongst my projects so you can check it out. No judgements please.";
}

.card--DB-1 .btn:hover {
  color: #ffb900;
}

.card--DB-2 .card__side--back, .card--DB-2 .card__header-span {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(211, 90, 230, 0.85)), to(rgba(79, 21, 102, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(211, 90, 230, 0.85), rgba(79, 21, 102, 0.85));
}

.card--DB-2 .card__picture {
  background-image: url(../../images/Percentage-Calculator-2x.png);
}

.card--DB-2 .card__project-title::after {
  content: "Percentage Calculator V.2";
}

.card--DB-2 .card__details::after {
  content: "This is my second best website. I don't expect you to understand how to use it. It wasn't meant for others to use.";
}

.card--DB-2 .btn:hover {
  color: #d35ae6;
}

.card--DB-3 .card__side--back, .card--DB-3 .card__header-span {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(61, 173, 255, 0.85)), to(rgba(0, 14, 68, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(61, 173, 255, 0.85), rgba(0, 14, 68, 0.85));
}

.card--DB-3 .card__picture {
  background-image: url(../../images/in-development-2x.png);
}

.card--DB-3 .card__project-title::after {
  content: "Liquidizer";
}

.card--DB-3 .card__details::after {
  content: "I will try to make this website the best way I can. It's gonna take a while though.";
}

.card--DB-3 .btn:hover {
  color: #3dadff;
}

/*
add ".disabled" next to ".card" to disable project card
.disabled--development adds in development image
.disabled--upcoming adds empty image and changes header to "Coming Up!"
*/
.disabled .btn:visited, .disabled .btn:link, .disabled .btn:hover, .disabled .btn:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: transparent;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  color: #fff;
  cursor: default;
}

.disabled .card__side--front,
.disabled .card__side--back {
  opacity: 0.8;
}

.disabled .card__side--back {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#777), to(#aaa));
  background-image: linear-gradient(to right bottom, #777, #aaa);
}

.disabled .card__header-span {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(170, 170, 170, 0.85)), to(rgba(119, 119, 119, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(170, 170, 170, 0.85), rgba(119, 119, 119, 0.85));
}

.disabled--development .card__picture {
  background-image: url(../../images/in-development-2x.png);
}

.disabled--upcoming .card__picture {
  background-image: url(../../images/coming-up-2x.png);
}

.disabled--upcoming .card__header-span::after {
  content: "Coming Up!";
}

.disabled--upcoming .card__project-title {
  display: none;
}

.icon-link {
  display: inline-block;
}

.icon-link:not(:last-child) {
  margin-right: 2rem;
}

.icon-link__icon {
  width: 3rem;
  height: 3rem;
}

.icon-link__icon--primary {
  fill: #3dadff;
}

.icon-link__icon--white {
  fill: #fff;
}

.icon-link:hover .icon-link__icon {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
}

.icon-link:hover .icon-link__icon--primary {
  fill: #fff;
}

.icon-link:hover .icon-link__icon--white {
  fill: #3dadff;
}

.icon-link:active .icon-link__icon {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
}

.header {
  width: 100%;
  height: 95vh;
  overflow: hidden;
  position: relative;
}

.header__background-video {
  width: 100%;
  z-index: 1000;
}

.header__color {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 14, 68, 0.4)), to(rgba(17, 60, 123, 0.4)));
  background-image: linear-gradient(to right bottom, rgba(0, 14, 68, 0.4), rgba(17, 60, 123, 0.4));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

.header__text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__text {
  font-size: 3.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-align: center;
  width: 114rem;
}

.header__btn-container {
  display: inline-block;
  margin-left: 27rem;
}

.about-me {
  width: 100%;
  height: 90vh;
  background-color: #000e44;
  position: relative;
}

.about-me__container {
  height: 100%;
}

.about-me__content {
  height: 100%;
}

.about-me__header {
  padding-top: 2rem;
}

.about-me__contact-list {
  padding-top: 1.1rem;
  float: right;
}

.about-me__center-box {
  margin-top: 15rem;
}

.about-me__image {
  height: 100%;
  width: calc((100% - 6rem) / 2);
  position: absolute;
  top: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 14, 68, 0.4)), to(rgba(17, 60, 123, 0.4))), url(../../images/my-image_2x.png);
  background-image: linear-gradient(to right bottom, rgba(0, 14, 68, 0.4), rgba(17, 60, 123, 0.4)), url(../../images/my-image_2x.png);
  background-size: cover;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
}

.col:not(:last-child) {
  margin-right: 6rem;
  margin-bottom: 10rem;
}

.col--1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col--1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col--2-of-3 {
  width: calc( (2 * (100% - 2 * 6rem) / 3) + 6rem);
}

.nav {
  background-color: #f7f7f7;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
}

.nav__item:not(:first-child) {
  border-bottom: 3px solid #f7f7f7;
  padding: 1.5rem 2.5rem;
  float: right;
}

.nav__item:first-child:hover .logo-full__color {
  fill: #113c7b;
}

.nav__item--selected {
  background-color: #eee;
  color: #777;
  border-bottom: 3px solid #eee;
  cursor: default;
}

.nav__item:not(:first-child):not(.nav__item--selected):hover {
  cursor: pointer;
  background-color: #eee;
  border-bottom: 3px solid #3dadff;
}

.nav__link {
  text-decoration: none;
  color: #777;
}

.projects__paragraph {
  text-align: center;
}

.projects__btn-container {
  width: 29.7%;
  margin: 0 auto;
}

.footer {
  height: 50vh;
  background-color: #292929;
}

.footer__all-container {
  height: 100%;
  position: relative;
}

.footer__bottom-box {
  position: absolute;
  bottom: 0;
}

.footer__contact-row {
  position: relative;
}

.footer__copyright {
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: normal;
}

.footer__margin-box {
  margin-top: 2.4rem;
}

.footer__logo-row {
  padding: 2.4rem 0 4.8rem;
  border-top: 1px solid #eee;
}

.footer__btn-container {
  float: right;
}
