*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: black;
}

.logo-full {
  width: 16.3rem;
}

.logo-full__icon {
  -webkit-transform: translate(421px, 366.5px) rotate(180deg);
          transform: translate(421px, 366.5px) rotate(180deg);
}

.logo-full__text {
  font-family: Lato-Bold, Lato;
  font-weight: 700;
}

.logo-full__header {
  font-size: 250px;
}

.logo-full__sub-header {
  font-size: 80px;
}

.logo-full--color {
  fill: #3dadff;
}

.header {
  width: 100%;
  height: 95vh;
  overflow: hidden;
  position: relative;
}

.header__background-video {
  width: 100%;
  z-index: 1000;
}

.header__color {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 14, 68, 0.4)), to(rgba(17, 60, 123, 0.4)));
  background-image: linear-gradient(to right bottom, rgba(0, 14, 68, 0.4), rgba(17, 60, 123, 0.4));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

.header__text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__text {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-align: center;
  width: 114rem;
}

.row {
  width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-2-of-3 {
  width: calc( (2 * (100% - 2 * 6rem) / 3) + 6rem);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.nav {
  background-color: #f7f7f7;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
}

.nav__item:first-child:hover .logo-full--color {
  fill: #113c7b;
}

.nav__item:not(:first-child) {
  padding: 1.5rem 2.5rem;
  float: right;
}

.nav__item--selected {
  background-color: #eee;
  color: #777;
}

.nav__item:not(:first-child):not(.nav__item--selected):hover {
  cursor: pointer;
  background-color: #eee;
  border-bottom: 3px solid #3dadff;
}

.nav__link {
  text-decoration: none;
  color: #777;
}
