.margin-right {
  margin-right: 8rem;
}

.margin-top-bigger {
  margin-top: 10rem;
}

.margin-top-big {
  margin-top: 8rem;
}

.margin-top-medium {
  margin-top: 5rem;
}

.margin-bottom-small {
  margin-bottom: 1.2rem;
}

.margin-bottom-medium {
  margin-bottom: 2.4rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: black;
}

.mark {
  color: #3dadff;
}

.first-header {
  color: #3dadff;
  font-size: 3.5rem;
  text-align: center;
}

.paragraph--grid-width {
  width: 114rem;
  margin-left: auto;
  margin-right: auto;
}

.logo-full__icon {
  -webkit-transform: translate(421px, 366.5px) rotate(180deg);
          transform: translate(421px, 366.5px) rotate(180deg);
}

.logo-full__text {
  font-family: Lato-Bold, Lato;
  font-weight: 700;
}

.logo-full__header {
  font-size: 250px;
}

.logo-full__sub-header {
  font-size: 80px;
}

.logo-full--color {
  fill: #3dadff;
}

.logo-full--big {
  width: 16.3rem;
}

.logo-full--small {
  width: 13rem;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2.8rem;
  padding: 1rem 4rem;
  border-radius: .8rem;
  text-transform: uppercase;
  font-weight: 700;
}

.btn--primary {
  background-color: #3dadff;
  color: #fff;
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn--primary:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
}

.btn--primary:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
}

.btn--secondary {
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn--secondary:hover {
  background-color: #fff;
  color: #3dadff;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
}

.btn--secondary:active {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
}

.slide-card {
  height: 40rem;
}

.slide-card__face {
  height: calc(40rem/ 2);
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slide-card__face--header {
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
  z-index: 2;
  background-color: #000e44;
}

.slide-card__face--content {
  padding: 2rem;
  z-index: 1;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
  background-color: #fff;
}

.slide-card__center-box {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slide-card__icon {
  display: block;
  margin: 0 auto .7rem;
  width: 35%;
}

.slide-card__header {
  width: 100%;
  text-align: center;
  cursor: default;
}

.slide-card__icon, .slide-card__header {
  fill: #3dadff;
  color: #3dadff;
}

.slide-card__link {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.3rem;
}

.slide-card__link:visited, .slide-card__link:link {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.slide-card__link:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
  color: #fff !important;
}

.slide-card__link:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
}

.slide-card--1:hover .slide-card__icon,
.slide-card--1:hover .slide-card__header {
  fill: #fff;
  color: #fff;
}

.slide-card--1:hover .slide-card__face--header {
  background-color: #4f1566;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slide-card--1:hover .slide-card__face--content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slide-card--1 .slide-card__link:visited, .slide-card--1 .slide-card__link:link {
  color: #4f1566;
  border-bottom: 1px solid #4f1566;
}

.slide-card--1 .slide-card__link:hover {
  background-color: #4f1566;
}

.slide-card--2:hover .slide-card__icon,
.slide-card--2:hover .slide-card__header {
  fill: #fff;
  color: #fff;
}

.slide-card--2:hover .slide-card__face--header {
  background-color: #ff7730;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slide-card--2:hover .slide-card__face--content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slide-card--2 .slide-card__link:visited, .slide-card--2 .slide-card__link:link {
  color: #ff7730;
  border-bottom: 1px solid #ff7730;
}

.slide-card--2 .slide-card__link:hover {
  background-color: #ff7730;
}

.slide-card--3:hover .slide-card__icon,
.slide-card--3:hover .slide-card__header {
  fill: #fff;
  color: #fff;
}

.slide-card--3:hover .slide-card__face--header {
  background-color: #000e44;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slide-card--3:hover .slide-card__face--content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slide-card--3 .slide-card__link:visited, .slide-card--3 .slide-card__link:link {
  color: #000e44;
  border-bottom: 1px solid #000e44;
}

.slide-card--3 .slide-card__link:hover {
  background-color: #000e44;
}

.icon-link {
  display: inline-block;
}

.icon-link--horizontal:not(:last-child) {
  margin-right: 2rem;
}

.icon-link--vertical:not(:last-child) {
  margin-bottom: 2rem;
}

.icon-link__icon {
  width: 3rem;
  height: 3rem;
}

.icon-link__icon--primary {
  fill: #3dadff;
}

.header {
  width: 100%;
  height: 95vh;
  overflow: hidden;
  position: relative;
}

.header__background-video {
  width: 100%;
  z-index: 1000;
}

.header__color {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 14, 68, 0.4)), to(rgba(17, 60, 123, 0.4)));
  background-image: linear-gradient(to right bottom, rgba(0, 14, 68, 0.4), rgba(17, 60, 123, 0.4));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

.header__text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__text {
  font-size: 3.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-align: center;
  width: 114rem;
}

.header__btn-container {
  display: inline-block;
  margin-left: 260px;
}

.about-me {
  width: 100%;
  height: 90vh;
  background-color: #000e44;
  position: relative;
  margin-bottom: 200px;
}

.about-me__container {
  height: inherit;
}

.about-me__content {
  height: inherit;
}

.about-me__header {
  padding-top: 2rem;
}

.about-me__contact-list {
  padding-top: 1.1rem;
  float: right;
}

.about-me__image {
  height: inherit;
  width: calc((100% - 6rem) / 2);
  position: absolute;
  top: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 14, 68, 0.4)), to(rgba(17, 60, 123, 0.4))), url(../../images/my-image_2x.png);
  background-image: linear-gradient(to right bottom, rgba(0, 14, 68, 0.4), rgba(17, 60, 123, 0.4)), url(../../images/my-image_2x.png);
  background-size: cover;
}

.row {
  width: 114rem;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
}

.col:not(:last-child) {
  margin-right: 6rem;
  margin-bottom: 8rem;
}

.col--1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col--2-of-3 {
  width: calc( (2 * (100% - 2 * 6rem) / 3) + 6rem);
}

.col--1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col--1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.nav {
  background-color: #f7f7f7;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
}

.nav__item:first-child:hover .logo-full--color {
  fill: #113c7b;
}

.nav__item:not(:first-child) {
  border-bottom: 3px solid #f7f7f7;
  padding: 1.5rem 2.5rem;
  float: right;
}

.nav__item--selected {
  background-color: #eee;
  color: #777;
  border-bottom: 3px solid #eee;
  cursor: default;
}

.nav__item:not(:first-child):not(.nav__item--selected):hover {
  cursor: pointer;
  background-color: #eee;
  border-bottom: 3px solid #3dadff;
}

.nav__link {
  text-decoration: none;
  color: #777;
}
