.section {
  margin-bottom: 14.4rem;

  .sectionHeader {
    & + h2 {
      margin-bottom: 1.2rem;
    }
  }

  & p {
    font-size: 1.6rem;
    font-family: "roboto";

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }
}
