//horizontal margins
//margin right
.margin-right-medium {
  margin-right: $margin-medium;
}

//vertical margins
//margin top
.margin-top-small {
  margin-top: $margin-small;
}

.margin-top-medium {
  margin-top: $margin-medium;
}

.margin-top-large {
  margin-top: $margin-large;
}

.margin-top-xlarge {
  margin-top: $margin-xlarge;
}

//margin bottom
.margin-bottom-small {
  margin-bottom: $margin-small;
}

.margin-bottom-medium {
  margin-bottom: $margin-medium;
}

.margin-bottom-large {
  margin-bottom: $margin-large;
}

.margin-bottom-xlarge {
  margin-bottom: $margin-xlarge;
}

//grid margins
//horizontal
.margin-right-grid {
  margin-right: $gutter-horizontal;
}

//vertical
.margin-top-grid {
  margin-top: $gutter-vertical;
}

.margin-bottom-grid {
  margin-bottom: $gutter-vertical;
}
