.margin-right{
    margin-right: $gutter-vertical;
}

.margin-right-small{
    margin-right: 2.5rem;
}

.margin-top-bigger{
    margin-top: 10rem;
}

.margin-top-big{
    margin-top: 8rem;
}

.margin-top-medium{
    margin-top: 5rem;
}

.margin-bottom-small{
    margin-bottom: 1.2rem;
}

.margin-bottom-medium{
    margin-bottom: 2.4rem;
}

.margin-bottom-big{
    margin-bottom: 4.8rem;
}

.margin-bottom-bigger{
    margin-bottom: 8rem;
}

.margin-bottom-grid{
    margin-bottom: 10rem;
}