//colors
$color-primary: #000e44;
$color-primary-light: #2e3c67;
$color-primary-lighter: #113c7b;

$color-secondary: #3dadff;

$color-black: #000;
$color-black-light: #292929;

$color-white: #fff;

$color-lightgrey-dark: #eee;
$color-lightgrey-light: #f7f7f7;

$color-grey: #777;

$color-orange-dark: #ff7730;
$color-orange-light: #ffb900;

//fonts
$first-header-font-size: 3.5rem;
$paragraph-font-size: 1.6rem;

//components
$logo-size: 16.3rem;

$btn-padding: 1.5rem 2.5rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;