//colors
$color-primary: #000e44;
$color-primary-light: #2e3c67;
$color-primary-lighter: #113c7b;

$color-secondary: #3dadff;

$color-black: #000;
$color-black-light: #292929;

$color-white: #fff;

$color-lightgrey-dark: #eee;
$color-lightgrey-light: #f7f7f7;

$color-grey: #777;

$color-orange-dark: #ff7730;
$color-orange-light: #ffb900;

$color-purple-dark: #4f1566;
$color-purple-light: #d35ae6;

//fonts
$first-header-font-size: 3.5rem;
$second-header-font-size: 2.8rem;
$paragraph-font-size: 1.6rem;

//components
$logo-size-big: 16.3rem;
$logo-size-small: 13rem;

$nav-btn-padding: 1.5rem 2.5rem;

$btn-padding: 1rem 4rem;
$btn-font-size: 2.8rem;
$small-btn-font-size: 1.6rem;

$slide-card-height: 40rem;
$slide-card-icon-width: 35%;

$icon-link-gutter-horizontal: 2rem;
$icon-link-gutter-vertical: 2rem;

//project cards
$color-locked-dark: #777;
$color-locked-light: #aaa;
$image-in-development: url(../../images/in-development-2x.png);
$image-coming-up: url(../../images/coming-up-2x.png);

$first-card-color-dark: $color-orange-dark;
$first-card-color-light: $color-orange-light;
$first-card-picture: url(../../images/Race-2x.png);

$second-card-color-dark: #4f1566;
$second-card-color-light: #d35ae6;
$second-card-picture: url(../../images/Percentage-Calculator-2x.png);

$third-card-color-dark: $color-locked-dark;
$third-card-color-light: $color-locked-light;
$third-card-picture: $image-in-development;

//grid
$grid-width: 114rem;
$gutter-vertical: 10rem;
$gutter-horizontal: 6rem;
