//TODO clean up this file
//colors
$color-primary: #000e44;
$color-primary-light: #2e3c67;
$color-primary-lighter: #113c7b;

$color-secondary: #3dadff;

$color-black: #000;
$color-black-light: #292929;

$color-white: #fff;

$color-lightgrey-dark: #eee;
$color-lightgrey-light: #f7f7f7;

$color-grey: #777;

$color-orange-dark: #ff7730;
$color-orange-light: #ffb900;

$color-purple-dark: #4f1566;
$color-purple-light: #d35ae6;

//fonts
$first-header-font-size: 3.5rem;
$second-header-font-size: 2.8rem;
$paragraph-font-size: 1.6rem;

//components
$logo-size-big: 16.3rem;
$logo-size-small: 13rem;

$nav-btn-padding: 1.5rem 2.5rem;

$btn-padding: 1rem 4rem;
$btn-font-size: 2.8rem;
$small-btn-font-size: 1.6rem;

$slide-card-height: 40rem;
$slide-card-icon-width: 35%;

$icon-link-gutter-horizontal: 2rem;
$icon-link-gutter-vertical: 2rem;

$shadow-small: 0 0.5rem 2rem;
$shadow-medium: 0 1rem 3rem;
$shadow-big: 0 1.5rem 4rem;

$shadow-opacity-high: rgba($color-black, 0.6);
$shadow-opacity-low: rgba($color-black, 0.15);

$btn-hover-translate: translateY(-3px);
$btn-active-translate: translateY(-1px);
$btn-border-radius: 0.8rem;

$cover-image-color: linear-gradient(
  to right bottom,
  rgba($color-primary, 0.4),
  rgba($color-primary-lighter, 0.4)
);
$my-image: url(../../images/my-image_2x.png);
$header-letter-spacing: 12px;

//project cards
$project-card-border-radius: 3rem;
$project-card-height: 50rem;

$color-disabled-dark: #777;
$color-disabled-light: #aaa;
$image-in-development: url(../../images/in-development-2x.png);
$image-coming-up: url(../../images/coming-up-2x.png);
$disabled-header-span: linear-gradient(
  to right bottom,
  rgba($color-disabled-light, 0.85),
  rgba($color-disabled-dark, 0.85)
);
$disabled-back-side: linear-gradient(
  to right bottom,
  $color-disabled-dark,
  $color-disabled-light
);

$first-card-color-dark: $color-orange-dark;
$first-card-color-light: $color-orange-light;
$first-card-picture: url(../../images/Race-2x.png);

$second-card-color-dark: #4f1566;
$second-card-color-light: #d35ae6;
$second-card-picture: url(../../images/Percentage-Calculator-2x.png);

$third-card-color-dark: $color-primary;
$third-card-color-light: $color-secondary;
$third-card-picture: $image-in-development;

//grid
$grid-width: 114rem;
$gutter-vertical: 10rem;
$gutter-horizontal: 6rem;
$grid-col-1-of-2-width: calc((100% - #{$gutter-horizontal}) / 2);
$grid-col-1-of-3-width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
$grid-col-2-of-3-width: calc(
  (2 * (100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
);

//helpers
$margin-small: 1.2rem;
$margin-medium: 2.4rem;
$margin-large: 4.8rem;
$margin-xlarge: 7.2rem;
