// Global reset styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// HTML element styles
html {
  font-size: 62.5%; // Set 1 rem = 10px
  scroll-behavior: smooth; // Enable smooth scrolling
}

// Body element styles
body {
  line-height: 1; // Set line height
}

// List styles
ol,
ul {
  list-style: none; // Remove default list styles
}

// Anchor link styles
a {
  text-decoration: none; // Remove default link underline
}

// Form element styles
input,
button,
textarea,
select {
  font: inherit; // Inherit font properties from parent
  color: inherit; // Inherit color properties from parent
}

// Button styles
button {
  cursor: pointer; // Set cursor to pointer on hover
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; // Ensure these elements have block display
}

// Heading styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit; // Set heading font sizes to inherit from parent
}
