.portfolio {
  background-color: #838383;
  padding: 7.2rem 3.6rem;
}

.sectionHeader {
  & + h2 {
    margin-bottom: 4.8rem;
  }
}

.arrowContainer {
  margin-top: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
