//base
body {
    font-family: "Lato", sans-serif;
    font-size: $paragraph-font-size;
    font-weight: 400;
    line-height: 1.7;
    color: black;
  }

  .mark{
    color: $color-secondary;
  }

  .first-header{
    color: $color-secondary;
    font-size: $first-header-font-size;
    text-align: center;

    &--left{
      text-align: left;
    }
  }

  .paragraph{

    &--grid-width{
      width: $grid-width;
      margin-left: auto;
      margin-right: auto;
    }

    &--primary{
      color: $color-secondary;
    }

    &--centered{
      text-align: center;
    }
  }