.span {
  font-size: 1.6rem;
  color: #d68100;
  margin-bottom: 1.2rem;

  &,
  & + h2 {
    font-family: "Comic Sans";
    display: block;
  }

  & + h2 {
    font-size: 3.2rem;
    line-height: 1.2;
  }

  &.dark {
    color: #f2f2f2;

    & + h2 {
      color: #fff;
    }
  }
}
