.header{
    width: 100%;
    height: 95vh;
    overflow: hidden;
    position: relative;
    
    &__background-video{
        width: 100%;
        z-index: 1000;
    }
    
    &__color{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right bottom, rgba($color-primary, .4), rgba($color-primary-lighter, .4));
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;

    }

    &__text-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__text{
        font-size: $first-header-font-size;
        color: $color-white;
        text-transform: uppercase;
        letter-spacing: 12px;
        text-align: center;
        width: $grid-width;
    }

    &__btn-container{
        display: inline-block;
        margin-left: 260px;
    }
}