.section {
  padding: 0 3.2rem;
  margin-bottom: 19.6rem;
  text-align: center;

  & h2 {
    font-size: 3.2rem;
    font-family: "Comic Sans";
    margin-bottom: 4.8rem;
  }
}

@media (min-width: 600px) {
  .section {
    padding: 0 4.8rem;
  }
}

@media (min-width: 900px) {
  .section {
    padding: 0 7.2rem;
  }
}

@media (min-width: 1200px) {
  .section {
    padding: 0 9.6rem;
  }
}
